<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
		{% endblock %}
    </head>
    <body class="menu-collapsed">
		<div id="main_menu">
			<ul class="menu">
				<li>
					<a href="{{ path('home') }}">Strona główna</a>
				</li>
				<li>
					<a href="{{ path('car_add') }}">Dodaj auto</a>
				</li>
				<li>
					<a href="{{ path('car_list') }}">Lista aut</a>
				</li>
				<li>
					<a href="{{ path('measure_add') }}">Dodaj pomiar</a>
				</li>
				<li>
					<a href="{{ path('measure_list') }}">Lista pomiarów</a>
				</li>
				{% if app.user %}
				<li>
					<a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
				</li>
				{% else %}
				<li>
					<a href="{{ path('fos_user_registration_register') }}">Zarejestruj</a>
				</li>
				<li>
					<a href="{{ path('fos_user_security_login') }}">Zaloguj</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="header">
			<div id="menu_icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="main-container">
			
			{% for label, messages in app.session.flashbag.all %}
				{% for message in messages %}
					<div class=" flash-message flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
        {% block javascripts %}
			<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
    </body>
</html>
