{% trans_default_domain 'FOSUserBundle' %}

<h1>Rejestracja</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register-form'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fos/register.css') }}" />
{% endblock %}