{% extends 'base.html.twig' %}

{% block body %}
	{% for car in cars %}
		<div class="car-item {{(car.defaultCar) ? 'active' : '' }}">
			{{ car.name }} 
			{% if car.defaultCar %}
				<span class="make-active">Aktywny</span>
			{% else %}
				<a class="make-active" href="{{ path('car_default', { id: car.id }) }}">Ustaw</a>
			{% endif %}
		</div>
	{% endfor %}
	
	<a href="{{ path('car_add') }}">Dodaj nowy samochód</a>
	
	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('css/car/index.css') }}" />
	{% endblock %}
	
{% endblock %}
